#désign {
  vertical-align: middle;
  width: 300px;
  height: 140px;
  border: groove orange 3px;
  border-radius: 50px 40px 30px 15px;
  background: magenta;
}
p.about {
    text-indent: 30px;
}
body {
  border: blue double;
  border-width: 5px;
  cell
  border-radius: 2px 2px;
}
.experience p{
  text-indent: 10px;
  font-style: sans-serif;
}
.about p{
  text-indent: 10px;
  font-style: serif;
}
.contacts {
  font-style: 'Times New Roman';
}
